<!DOCTYPE html>
<html>
  <head>
    <%include ../partials/navbar%>
    <meta charset="utf-8">
    <title>Places</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <center>
        <h2>Places</h2>
      </center>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>No</th>
            <th>Name</th>
            <th>Address</th>
            <th>Price Range</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <%places.forEach((place, i)=>{%>
            <tr>
              <td><%=i+1%></td>
              <td>
                <a href="/users/<%=place.id%>/location">
                  <%=place.name%>
                </a>
              </td>

              <td><%=place.address%></td>
              <td><%=place.priceRange%></td>
              <td>
                <a href="/users/0/viewreview/<%=place.id%>" class="btn btn-info">View Review</a>
              </td>
            </tr>
          <%})%>
        </tbody>
        <p>
          $ = Rp1.000.000,00
        </p>
      </table>
    </div>
  </body>
</html>
